---
import { formatDate } from '@/utils/data.util';
import Section from './Section.astro';
import Tags from './Tags.astro';
import PinnedBadge from './PinnedBadge.astro';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

const { title, pubDate, tags, minutesRead, img, isPinned = false } = Astro.props;

const postImageGlob = import.meta.glob<{ default: ImageMetadata }>(
	'/src/pages/posts/**/*.{jpeg,jpg,png,gif}'
);
const postImage = postImageGlob[img.src];

if (!postImage)
	throw new Error(`"${img.src}" does not exist in glob: "src/pages/posts/**/*.{jpeg,jpg,png,gif}"`);

const formattedDate = formatDate(pubDate);

interface Props {
	title: string;
	tags: string[];
	minutesRead: string;
	pubDate: string;
	isPinned?: boolean;
	img: {
		src: string;
		alt: string;
	};
}
---

<Section>
	<div class="flex flex-col items-center">
		<div class="relative px-4 pb-4 text-center sm:px-14 sm:pt-6">
			{isPinned && <PinnedBadge size="md" class="absolute top-6 left-10 -translate-y-1/2" />}
			<h1 class="text-2xl font-bold sm:text-4xl">{title}</h1>
		</div>
		<div class="pb-4">
			<Tags tags={tags} withHref={true} />
		</div>
		<div class="pb-4 text-sm">
			<span>{formattedDate}</span> - <span>{minutesRead}</span>
		</div>

		<Image src={postImage()} alt={img.alt} width={800} height={600} />
	</div>
</Section>
